* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/********************** Index page **********************/

/********** Carousels *************/
.carousel-dot-icon {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50%;
    background-color: white;
}

/******************* How it works ***********8********/

.How-it-works-image {
    display: flex;
    position: relative;
    overflow-x: scroll;
    white-space: nowrap;
}

.image {
    height: 550px;
    object-fit: contain;
}

.image:hover {
    filter: brightness(50%);
    cursor: pointer;
    color: white;
}


/***** IMAGE-1 TEXT-1 *****/
.img-number1 {
    position: absolute;
    top: 100px;
    left: 120px;
    color: white;
    font-size: 65px;
}

.img-text {
    position: absolute;
    top: 300px;
    left: 70px;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.mobile-number {
    position: absolute;
    top: 330px;
    left: 60px;
    font-size: 25px;
    color: white;
}


/***** IMAGE-2 TEXT *****/
.imgnumber2 {
    position: absolute;
    top: 100px;
    left: 400px;
    font-size: 30px;
    color: white;
    font-size: 65px;
}

.onlinesitetext {
    position: absolute;
    top: 300px;
    left: 365px;
    font-size: 25px;
    color: white;
}

/***** IMAGE-3 TEXT-1 *****/
.imgnumber3 {
    position: absolute;
    top: 100px;
    left: 730px;
    font-size: 30px;
    color: white;
    font-size: 65px;
}

.Accurate-text {
    position: absolute;
    top: 300px;
    left: 690px;
    font-size: 25px;
    color: white;
}


/***** IMAGE-4 TEXT-1 *****/
.imgnumber4 {
    position: absolute;
    top: 100px;
    left: 1015px;
    font-size: 30px;
    color: white;
    font-size: 65px;
}

.instant-payment-text {
    position: absolute;
    top: 300px;
    left: 1000px;
    font-size: 25px;
    color: white;
}

/***** IMAGE-5 TEXT-1 *****/
.imgnumber5 {
    position: absolute;
    top: 100px;
    left: 1330px;
    font-size: 30px;
    color: white;
    font-size: 65px;
}

.responsible-text {
    position: absolute;
    top: 300px;
    left: 1280px;
    font-size: 25px;
    color: white;
}

.How-it-works-image::-webkit-scrollbar {
    width: 0 !important
}


@media screen and (max-width: 320px) {

    .image {
        height: 590px;
        object-fit: contain;
    }
}



/******************* ICONS *******************/
.icons {
    display: flex;
    overflow-x: scroll;
    gap: 3%;
}

.icons::-webkit-scrollbar {
    width: 0 !important
}

@media screen and (min-width: 1024px) {

    .carosuel-slides-dots {
        display: none;
    }

}



/******************** Client speak background image ********************/
.clientspeakimage {
    background-image: url("./Images/Client\ speak\ background\ image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    object-fit: cover;
}


/*********************** CONTACT US PAGE ***********************/
.button1 {
    background-color: #8cc63f !important;
    padding: 10px 25px;
    color: white;
    border: none;
    border-radius: 50px;
    border: 1px solid #8cc63f;
}


.button1:hover {
    background-color: white !important;
    color: rgb(20, 19, 19);
    padding: 10px 25px;
    border: 1px solid #8cc63f;
}

.contactUs-cards {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 10px;
}






/* Media query */

@media screen and (min-width: 280px) and (max-width: 1023px) {
    .navbar1 {
        display: none;
    }
}