* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/********************** Index page **********************/

/********** Carousels *************/
.carousel-dot-icon {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50%;
    background-color: white;
}

/******** How it works ********/

div.images {
    display: flex;
    position: relative;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.images img {
    padding: 10px;
}

.img-num {
    position: absolute;
    top: 100px;
    left: 120px;
}

/* .img-text {
    position: absolute;
    top: 300px;
    left: 100px;
}

.images img {
    max-width: 350px;
    width: 100%;
    height: 550px
}
 */



/******************* ICONS *******************/
.icons {
    display: flex;
    overflow-x: scroll;
    gap: 1%;
}

.icons::-webkit-scrollbar {
    width: 0 !important
}



/******************** Client speak background image ********************/
.clientspeakimage {
    background-image: url("./Images/Client\ speak\ background\ image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    object-fit: cover;
}


/*********************** CONTACT US PAGE ***********************/
.button1 {
    background-color: #8cc63f !important;
    padding: 10px 25px;
    color: white;
    border: none;
    border-radius: 50px;
    border: 1px solid #8cc63f;
}


.button1:hover {
    background-color: white !important;
    color: rgb(20, 19, 19);
    padding: 10px 25px;
    border: 1px solid #8cc63f;
}

.contactUs-cards {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 10px;
}






/* Media query */

@media screen and (min-width: 280px) and (max-width: 1023px) {
    .navbar1 {
        display: none;
    }
}